.tela_Inicial {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 60vh;
    width: 100%;
}

.form {
    background-color: rgba(148, 144, 144, 0.7);
    backdrop-filter: blur(10px);
    padding: 1rem;
}

.titleInicial {
    background-color: aqua;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 5px;
    font-size: medium;
    font-weight: 700;
}

.btnLogin {
    background-color: transparent;
    color: white;
    padding: 6px;
    border-radius: 5px;
    text-decoration: none;
}